body {
    overflow: hidden;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.absoluto-container {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 0px;
}

.transition-4 {
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
}


/*头部*/

.header {
    width: 100%;
    height: 60px;
    overflow: visible;
    background: #4a4a4a;
    font-size: 20px;
}

.header-toolbar {
    padding: 10px 0px;
    float: left;
}

.header-toolbar>li {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    margin: 0px 5px;
    border-radius: 2px;
}

.header-toolbar>li:hover {
    border: 1px solid #111;
    background: #111;
}

.header-toolbar>li.active {
    border: 1px solid #3399ff;
    background: #3399ff;
}

.vertical-line {
    height: 54px;
    width: 1px;
    display: inline-block;
    float: left;
    margin: 3px 10px 3px 10px;
    background: #000;
}

.header-window {
    font-size: 14px;
    color: #E6E6E6;
    float: left;
}

.header-window li {
    height: 30px;
    line-height: 30px;
}

.header-window input {
    width: 51px;
    height: 24px;
    padding: 0px 2px;
    background: #1b1b1b;
    border: none;
    color: #fff;
    text-align: center;
}

.header-window button {
    width: 50px;
    height: 24px;
    background: #2f2f2f;
    border: 1px solid #000;
    font-size: 12px;
    color: #e6e6e6;
    position: relative;
    top: -1px;
}

.header-window button:hover {
    background: #383838;
}

.header-window button:active {
    background: #1f1f1f;
}

.header-window-selector {
    position: relative;
    display: inline-block;
    width: 166px;
    height: 24px;
    background: #1b1b1b;
}

.header-window-selector>div {
    position: absolute;
    top: 0px;
    line-height: 24px;
    height: 24px;
    left: 10px;
}

.header-window-selector:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: #e1e1e1 transparent transparent transparent;
    border-width: 5px;
    position: absolute;
    right: 5px;
    top: 40%;
}

.sunset-combobox.window-combobox {
    top: 25px;
    width: 100%;
    display: none;
}

.header-rotate {
    float: left;
}

.header-rotate li {
    height: 28px;
    padding-top: 2px;
}

.mini-tool {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid transparent;
    background: transparent;
}

.mini-tool:hover {
    border: 1px solid #1b1b1b;
    background: #686868;
}

.mini-tool.active {
    border: 1px solid #000;
    background: #1b1b1b;
}


/*左侧工具栏*/

.left-toolbar-top {
    width: 100%;
    height: 10px;
    background: url('/cateyes/images/tool_bar_top.png')
}

.left-side-toolbar {
    width: 30px;
    left: 100px;
    right: auto;
    border-left: 1px solid #252525;
    background: #313131;
    text-align: center;
}

.left-side-toolbar li {
    margin: 8px auto 0px auto;
}

.left-side-toolbar li.line {
    width: 25px;
    height: 1px;
    background: #1b1b1b;
}

.mCSB_inside>.mCSB_container {
    margin-right: 15px !important;
}

.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
    margin-right: 0 !important;
}


/*左边栏影像列表*/

.left-side-nav {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: auto;
    z-index: 12;
    width: 50px;
    line-height: 0px;
}

.left-side-studys {
    width: 100px;
    background: #313131;
}

.left-side-study {
    width: 85px;
    border: 1px solid #1b1b1b;
    margin: 10px auto 0px auto;
    background-color: #4f4f4f;
    color: #dcdcdc;
    font-size: 14px;
}

.left-side-study>div {
    width: 100%;
    height: 20px;
    text-align: center;
    line-height: 25px;
}

.left-side-study>ol {
    list-style: none;
    margin: 0px;
}
.left-side-study>ol li{
    height: 60px;
}
.left-side-study>ol li.li-title {
    width: 60px;
    height: 20px;
    line-height:20px;
    font-size:16px;
    position: relative;
    text-align: center;
    background:#3399ff;
}
.left-side-study li {
    width: 60px;
    height: 75px;
    margin: 10px auto;
    position: relative;
}

.left-side-study .series-thumbnail {
    width: 60px;
    height: 60px;
}

.left-side-study .progress {
    width: 0%;
    height: 2px;
    background: #99cc33;
}

.left-side-study span {
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 0px;
    min-width: 30px;
    height: 14px;
    color: #FFF;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: rgba(0, 153, 204, 0.85);
}
.left-side-study .series-switch{
    height:20px;
    display:block;
    text-align:center;
    position:relative;
    cursor: pointer;
    color:#FFF;
}
.left-side-study>ul{
    display:none;
}
.left-side-study.close>ul{
    display:block;
}
.left-side-study.close>ol{
    display:none;
}
.left-side-study .series-switch:hover{
    color:#3399ff;
}
.left-side-study .series-switch:before{
    content:'收起';
    font-size:12px;
    display: block;
    padding-top:5px;
}
.left-side-study.close .series-switch:before{
    content:'展开';
}

.tag-device-ct {
    background: rgba(0, 153, 204, 0.85) !important;
}

.tag-device-mr {
    background: rgba(126, 231, 18, 0.85) !important;
}

.tag-device-dx {
    background: rgba(162, 29, 229, 0.85) !important;
}

.tag-device-xa {
    background: rgba(236, 29, 0, 0.85) !important;
}

.left-side-study .left-side-series-num {
    position: absolute;
    width: 100%;
    height: 16px;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
    font-family: 微软雅黑;
}


/*多窗*/

.multi-window-grid {
    border-right: 1px solid #4b4b4b;
    border-bottom: 1px solid #4b4b4b;
    width: 124px;
    z-index: 10;
    position: absolute;
    font-size: 0px;
    display: none;
}

.multi-window-grid div {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #1b1b1b;
    border-top: 1px solid #4b4b4b;
    border-left: 1px solid #4b4b4b;
}

.multi-window-grid div.hover {
    background: #6b6b6b;
}


/*设置*/

.toolbar-settion-wrapper li i {
    visibility: hidden;
    margin-left: -40px;
    margin-right: 5px;
}

.toolbar-settion-wrapper li.active i {
    visibility: visible;
}


/*右键菜单*/

.sunset-content-menu ul {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 145px;
    background: #1f1f1f;
    margin-left: 0px;
    z-index: 4;
    cursor: default;
}

.sunset-content-menu ul>li {
    width: 145px;
    height: 25px;
    text-indent: 25px;
    border-bottom: 1px #272727 solid;
    border-top: 1px #272727 solid;
    line-height: 25px;
    margin: 0 auto;
    background: none;
    text-align: left;
    font-size: 12px;
    font-family: "Microsoft Yahei";
    color: #fff;
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
}

.sunset-content-menu ul>li:hover {
    background: #3399ff;
}


/*大图标*/

.nav-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(../images/nav-icon.png);
    background-repeat: no-repeat;
}

.nav-icon.nav-icon-reset {
    background-position: center 0px;
}

.nav-icon.nav-icon-translate {
    background-position: center -40px;
}

.nav-icon.nav-icon-zoom {
    background-position: center -80px;
}

.nav-icon.nav-icon-viewergrid {
    background-position: center -120px;
}

.nav-icon.nav-icon-doublewindow {
    background-position: center -160px;
}

.nav-icon.nav-icon-play {
    background-position: center -200px;
}

.nav-icon.nav-icon-luminance {
    background-position: center -280px;
}

.nav-icon.nav-icon-contrast {
    background-position: center -320px;
}

.nav-icon.nav-icon-rgb {
    background-position: center -360px;
}

.nav-icon.nav-icon-ashing {
    background-position: center -400px;
}

.nav-icon.nav-icon-inverse {
    background-position: center -440px;
}

.nav-icon.nav-icon-intensity {
    background-position: center -480px;
}

.nav-icon.nav-icon-cupdiscratio {
    background-position: center -520px;
}

.nav-icon.nav-icon-horizontalturn {
    background-position: center -560px;
}

.nav-icon.nav-icon-verticalturn {
    background-position: center -600px;
}

.nav-icon.nav-icon-snapshoot {
    background-position: center -640px;
}

.nav-icon.nav-icon-pseudocolor {
    background-position: center -680px;
}

.nav-icon.nav-icon-magnifying_glass {
    background-position: center -150px;
}

.nav-icon.nav-icon-print {
    background-position: center -720px;
}

.nav-icon.nav-icon-setting {
    background-position: center -760px;
}

.nav-icon.nav-icon-keyimage {
    background-position: center -419px;
}

.nav-icon.nav-icon-keyimage.active {
    background-position: center -450px;
}

.nav-icon.nav-icon-imagegrid {
    background-position: center -480px;
}


/*小图标*/

.nav-mini-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../images/nav-icon-mini.png);
    background-repeat: no-repeat;
}

.nav-mini-icon.nav-icon-text {
    background-position: center 0px;
}

.nav-mini-icon.nav-icon-arrows {
    background-position: center -24px;
}

.nav-mini-icon.nav-icon-line {
    background-position: center -48px;
}

.nav-mini-icon.nav-icon-angle {
    background-position: center -72px;
}

.nav-mini-icon.nav-icon-scrawl {
    background-position: center -96px;
}

.nav-mini-icon.nav-icon-mark_revoke {
    background-position: center -120px;
}

.nav-mini-icon.nav-icon-mark_clear {
    background-position: center -144px;
}


/*影像列表索引*/

.progress-wrap {
    background-color: #020202;
    box-shadow: 0px 0px 1px #444;
}

.drag-thumbnail {
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: 999;
}

.left-side-trigger {
    position: absolute;
    bottom: 20px;
    left: 0px;
    width: 30px;
    height: 30px;
    background-image: url(/cateyes/images/Open.png);
    background-repeat: no-repeat;
    background-position: center -2px;
}

.left-side-trigger:hover {
    background-position: center -69px;
}

.main-container.close .left-side-trigger {
    background-position: center -35px;
}

.main-container.close .left-side-trigger:hover {
    background-position: center -103px;
}

.main-container.close .left-side-studys {
    display: none;
}

.main-container.close .left-side-toolbar {
    left: 0px;
}

.main-container.close .major {
    left: 31px;
}


/*主体*/

.major {
    left: 131px;
    background-color: #000;
    -webkit-transform: translateZ(0);
}


/*文字标注*/

.text-marker-editor {
    position: absolute;
    font-size: 14px;
    z-index: 30;
    padding: 5px;
    background: #454545;
    border: 1px solid #787878;
    border-radius: 2px;
}

.text-marker-editor textarea {
    width: 150px;
    height: 40px;
    background: #efefef;
}

.text-marker-editor button {
    width: 80px;
    height: 30px;
    border-radius: 2px;
    border: none;
    background: yellowgreen;
    font-size: 14px;
    color: #FFF;
    vertical-align: bottom;
    margin-bottom: 3px;
}

.text-marker-editor button:hover {
    background: rgb(125, 167, 41);
}

.text-marker-editor i {
    position: absolute;
    right: 3px;
    top: 1px;
    color: #787878;
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
}

.text-marker-editor i:hover {
    color: #FFF;
}

.sunset-combobox {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 145px;
    background: #1f1f1f;
    margin-left: 0px;
    z-index: 4;
    cursor: default;
}

.sunset-combobox>li {
    width: 100%;
    height: 25px;
    text-indent: 25px;
    border-bottom: 1px #272727 solid;
    border-top: 1px #272727 solid;
    line-height: 25px;
    margin: 0 auto;
    background: none;
    text-align: left;
    font-size: 12px;
    font-family: "Microsoft Yahei";
    color: #fff;
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
}

.sunset-combobox>li:hover {
    background: #3399ff;
}